@import 'cssreset';
@import 'fonts';
@import 'colors-autotheme';
@import 'animations';

$border-radius: 2px;

.ShowPalette {
  @include draw-palette($accent);
}

.ShowComplementPalette {
  @include draw-palette($complement);
}

.Magic {
  @include SweepBackground(linear-gradient(90deg, base($accent-palette), base($complement-palette)));
}

html {
  color: var(--text-main);
  background-color: var(--base-color);
}

a, Link {
  color: base($accent-palette);
}

code {
  background: var(--background);
}

hr {
  border-top: 1px solid var(--text-main);
}

mark {
  background-color: base($accent-palette);
  color: base($complement-palette);
}

.BaseColor {
  color: var(--text-main);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  background: none;
}

.Header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(dark($accent-palette), 0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.Card {
  background: var(--background);
  box-shadow: 4px 4px 3px rgba(0,0,0,0.3);
  padding: 15px;
}

.EntryList {
  display: flex;
  flex-direction: column;
  & > div {
    margin: 15px;
  }
}

.TagBubble {
  background: darkest($accent-palette);
  border-color: base($accent-palette);
  border-style: solid;
  border-width: 2px;
  padding: 0 7px 0 7px;
  width: min-content;
  height: min-content;
  border-radius: 400px;
  margin-inline-end: 5px;
  p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: small;
  }
}

.Horizontal {
  display: flex;
  flex-direction: row;
}

.LeftRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $accent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  border-radius: $border-radius;
}

*::-webkit-scrollbar-track {
  background: transparent;
  width: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(darkest($accent-palette), 0.6);
  transition: all linear 0.6s;
  opacity: 0.6;
  width: 15px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(base($accent-palette), 0.6);
  transition: all linear 0.6s;
  opacity: 1;
  width: 15px;
}

.Header{
    position: sticky;
    top: 0;
    z-index: 999;
}

.imageCap {
  text-shadow: 0px 0px 5px var(--background);
  mix-blend-mode: difference;
}

.leftStatic {
  position: fixed;
  top: 50%;
  left: 25px;
  z-index: 800;
}

.rightStatic {
  position: fixed;
  top: 50%;
  right: 25px;
  z-index: 800;
}


footer {
  position: fixed;
  backdrop-filter: blur(3px);
  padding: 15px;
  background: rgba(light($complement-palette), 0.5);
  width: 100vw;
  bottom: 0;
}

.navButton{
  border: none;
  background: rgba(light($complement-palette), 0.5);
  color: base($accent-palette);
  font-size: clamp(15px, 2vmax, 65px);
  padding: clamp(15px, 2vmax, 65px);
  border-radius: $border-radius;
}

.center{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.leftRight{
  display: flex;
  justify-content: space-between;
}
.error {
  color: red;
}

.fullscreen {
  backdrop-filter: blur(5px);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 250;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card {
  padding: 15px;
  background-color: var(--background);
  margin: auto;
  border-radius: $border-radius;
}

button {
  border: none;
  background-color: base($accent-palette);
}

input {
  width: 80%;
}

.centerChildren {
  display: flex;
  align-items: center;
}

.likerName {
  border-radius: $border-radius;
}


.bad {
  background-color: base($complement-palette);
}